<div class="jumbotron">
    <h1 class="text-center">Profile</h1>
</div>
<div class="well">
    <h2 class="text-center">
        <%= image_tag @user.profile.avatar.url %><br/>
        <%= @user.profile.first_name %> <%= @user.profile.last_name %><br/>
        <%= @user.profile.job_title %><br/>
        <% if current_user.plan_id == 2 %>
            <%= @user.profile.phone_number %><br/>
            <%= @user.profile.contact_email %><br/>
        <% end %>
        <%= @user.profile.description %><br/>
    </h2>
</div>